@font-face {
    font-family: 'iconfont';
    /* project id 1534611 */
    src: url('//at.alicdn.com/t/font_1534611_esn0khdijqt.eot');
    src: url('//at.alicdn.com/t/font_1534611_esn0khdijqt.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1534611_esn0khdijqt.woff2') format('woff2'), url('//at.alicdn.com/t/font_1534611_esn0khdijqt.woff') format('woff'), url('//at.alicdn.com/t/font_1534611_esn0khdijqt.ttf') format('truetype'), url('//at.alicdn.com/t/font_1534611_esn0khdijqt.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
    content: "\e618";
}

.icon-tishi:before {
    content: "\e72b";
}

.icon-wuuiconxiangjifangda:before {
    content: "\e620";
}

.icon-xiaoxi:before {
    content: "\e67c";
}

.icon-ren:before {
    content: "\e654";
}

.icon-zhuanfa:before {
    content: "\e627";
}

.icon-dingwei:before {
    content: "\e665";
}

.icon-cuo:before {
    content: "\e63f";
}

.icon-ziyuan:before {
    content: "\e64d";
}
